<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjh43Dsou7L02kFhTivJK_xMDIygAIllg</string>
	<key>GCM_SENDER_ID</key>
	<string>671209975748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beautySoft</string>
	<key>PROJECT_ID</key>
	<string>beautysoft-1fa47</string>
	<key>STORAGE_BUCKET</key>
	<string>beautysoft-1fa47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671209975748:ios:3e2d402df24f9a3840fe91</string>
</dict>
</plist>